
body{
    color: #000;
    background-color: #eee;
    font-size: 18px;
    line-height: 1.6em;
    font-family: Arial, Helvetica, sans-serif;
}

#deleteLink{
    color: #000;
    margin-left: 20%;
    text-decoration: underline;
}

#headerDiv{
    width: 50%;
    height: 65%;
    margin:0 auto;
    background-color: white;
    border: 3px black solid;
    box-sizing: border-box;
    
}
#form{
    display: block;
}

#innerText{
    width:70%;
    margin:0 auto;  

}

#innerText h1{
    padding-top: 25px;
    margin-bottom:25px;
    text-align: center;
}

#NavUl{
    list-style-type: none;
    margin:0 auto;
    padding: 12px 0;
    background-color: grey;
    width: 50%;
    border: 3px black solid;
    box-sizing: border-box;
    border-bottom: none;
}

#NavUl li{
    display: inline;
    padding-left: 15px;
    
}
.workoutInnerText{
    display: inline-block;
    width: 75%;
}
.workoutDeleteLink{
    display: inline-block;
}
a {
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h1{
    margin:0;
}

#NavBar {
    width:100%;
}

html {
    height: 100%;
}

body{
    margin:0;
    height: 100%;
}





